@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('/assets/font/Roboto/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/assets/font/Roboto/roboto-v20-latin-regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('/assets/font/Roboto/roboto-v20-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/assets/font/Roboto/roboto-v20-latin-italic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/assets/font/Roboto/roboto-v20-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/assets/font/Roboto/roboto-v20-latin-700.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Bold'),
    url('/assets/font/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/font/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff')
      format('woff'); /* Pretty Modern Browsers */
}
