* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $color-primary;
  background-color: $background-color;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  font-size: 16px;
}

.main {
  padding: 32px 16px 128px 16px;
}

code {
  background: $background-color-code;
  color: $color-code;
  font-size: $font-size-6;
  padding: 2px 5px;
  border-radius: 2px;
}

em {
  text-align: center;
  display: block;
  font-size: $font-size-7;
  color: $color-disabled;
}

blockquote {
  padding: 0 10px;
  font-style: italic;
  border-left: 4px solid $color-secondary;
  color: $color-disabled;
}

li {
  margin-bottom: 1rem;
}

li::marker {
  color: $color-secondary;
  font-weight: $font-weight-bold;
  font-size: $font-size-2;
}

img {
  max-width: 100%;
  border-radius: $border-radius;
  box-shadow: 0px 1px 2px 1px #d3d2d3;
}
