// ###### COLORS ######
$white: white;
$smoke: #768079;
$charade: #282936;
$licorice: #111111;
$ebony: #0f1923;
$sour-lemon: #faff1e;
$forest-green: #0e755f;
$deep-blush: #dc68aa;

// ###### FONT ######
$font-primary: "Roboto";
$font-secondary: "JetBrains Mono";

$font-size-1: 2rem;
$font-size-2: 1.5rem;
$font-size-3: 1.375rem;
$font-size-4: 1.25rem;
$font-size-5: 1.125rem;
$font-size-6: 1rem;
$font-size-7: 0.875rem;
$font-size-8: 0.75rem;
$font-size-9: 0.6875rem;

$font-weight-regular: 400;
$font-weight-bold: 700;

// ###### TOKENS ######
$color-primary: $charade;
$color-secondary: $forest-green;
$color-code: $white;
$color-disabled: $smoke;
$background-color: $white;
$background-color-code: $charade;
$border-color: $forest-green;
$border-radius: 5px;
