.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: $color-disabled;
}

a[href] {
  color: $color-primary;
  text-decoration-color: $color-secondary;
  text-decoration-thickness: 2px;

  &:hover {
    color: $color-secondary;
  }
}
