.header {
  position: sticky;
  top: 0;
  padding: 16px 16px 0 16px;
  background: $background-color;
}

.logo {
  max-width: 80ch;
  margin: 0 auto;
  font-size: $font-size-6;
  border-bottom: 3px solid $border-color;

  a {
    font-family: $font-secondary;
    text-decoration: none;

    &:hover {
      color: $color-secondary;
    }
  }
}
