.post,
.postlist {
  margin: 0 auto;
  margin-top: 64px;
  max-width: 80ch;
}

.post {
  .post-content {
    font-size: $font-size-4;
  }
}

.postlist-item {
  font-size: $font-size-1;
  font-family: $font-secondary;

  .postlist-date {
    color: $color-disabled;
    font-family: $font-primary;
    font-size: $font-size-6;
  }

  .postlist-link {
    display: block;
    text-decoration-thickness: 3px;
  }
}
