.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  font-size: 1.1875em; /* 19px /16 */
  font-family: $font-secondary;;

  .postlist-date {
    color: var(--darkgray);
    font-size: 0.8125em; /* 13px /16 */
    word-spacing: -0.5px;
  }

  .postlist-link {
    display: inline-block;
    padding: 0.25em 0.1875em; /* 4px 3px /16 */
  }

  &.postlist-item-active {
    .postlist-link {
      font-weight: bold;
    }
  }
}
